@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
  --black:      #1b1b1e;
  --charcoal:   #373F51;
  --cadet-blue: #58A4B0;
  --steel-blue: #A9BCD0;
  --grey:       #D8DBE2;

  --tictactoe-box: 400px;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  position: relative;
  background-color: var(--grey);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header,
footer {
  text-align: center;
  padding: 15px 0;
  width: 100vw;
  background-color: var(--black);
  color: white;
}

.container {
  margin: 0 auto;
  border: 1px solid black;
  background-color: white;
  width: var(--tictactoe-box);
  height: var(--tictactoe-box);
}

.gameboard {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.gameboard .box {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 75px;
}

.players {
  margin: 0 auto;
  padding-bottom: 20px;
  width: var(--tictactoe-box);
  display: flex;
  justify-content: space-between;
}

#p1, #p2 {
  padding: 10px;
}

#p1.turn,
#p2.turn {
  border: 1px solid black;
}

.btn {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.reset {
  padding: 5px 20px;
  font-size: 15px;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
}

.overlay.show {
  pointer-events: all;
  opacity: 1;
}

.modal {
  z-index: 1;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 300px;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border-radius: 20px;
}

.modal.show {
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.modal-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
}